/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Noto+Sans+JP:400,700&display=swap&subset=japanese'); */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,500i,700,700i|Noto+Sans+JP:400,700&display=swap&subset=japanese');

body{
    font-family: "Montserrat", "Noto Sans JP", sans-serif;
}

.bold_ja{
  font-family: "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 700;
}
.bold_en{
    font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: 700;
}

/* ナビゲーション */
/* 上の帯の色 */
.bg-primary {
    background-color: rgb(0,92,175) !important;
    background-image: none !important;
}

/* ブランド名 */
.navbar-brand {
    font-weight: 700;
    /* color: rgb(42, 44, 43) !important; */
}

/* ブランド名（hover時） */
.navbar-brand:hover{
    font-weight: 700;
    color: #ECDF2B !important;
}

.navbar-brand:focus{
    font-weight: 700;
    color: #ECDF2B !important;
}

/*  */
.navbar .navbar-nav .nav-link{
    color: #fbfbf6;
    font-weight: 700;
}




/* nav-item activeの文字色 */
.navbar .navbar-nav .active > .nav-link {
    color: #ECDF2B;
}

.navbar .navbar-nav .nav-link:hover {
    color: #ECDF2B;
}

/* nav-item:focus、nav-item:hoverの文字色 */
.navbar .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ECDF2B;
}

/* nav-item:activeの文字色 */
.navbar .navbar-nav .nav-link:active {
    color: #ECDF2B;
}

body {
    color: rgb(42, 44, 43);
}


/* ----- リンク ----- */
a {
    color: rgb(0,92,175);
}
a:hover {
    color: #ECDF2B;
}
a:active {
    color: #ECDF2B;
}



h1 {
    font-weight: 900;
}

/* 箇条書き　行間 */
ul li {
    padding-top:5px; 
    padding-bottom:5px;
}

.navbar-collapse li {
    padding-top:0px; 
    padding-bottom:0px;
}


/* 追記 */
/* .navbar-brand:hover,
.navbar-brand:focus{
    color: #FDD835;
} */


.nav-link:hover,
.nav-link:focus {
    color: #ECDF2B;
    background-color: transparent;
}

/* 表 */
table {
    border-collapse: collapse;
    border: solid 2px #ECDF2B;
}
table th, table td {
    border: dashed 1px #ECDF2B;
    background-color: #fbfbf6 !important;
}

hr {
    height: 1px;
    background-color: rgb(0,92,175);
    border: none;
}


/* navbar テキストカラー */
/* .navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: bold;
} */

/* .navbar-nav :hover{
    background: #4DD0E1;
} */


/* .navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #FDD835;
    font-weight: bold;
    background-color: transparent;
} */

/* navbar active設定時のカラー */
/* .navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #FDD835;
    background-color: #4DD0E1;
    font-weight: bold;
} */

/* .navbar-default .navbar-brand a:hover {
    color: #FDD835;
    font-weight: bold;
} */

/* .navbar-nav {
    font-weight: bold;
} */

/* .bs-sidenav {
    font-size: larger;
} */


/* navbar ハンバーガー四角枠 */
.navbar-toggler {
    border-color: #fbfbf6 !important;
    border-width: 1px;
}

.navbar-toggler :active {
    border-color: #ECDF2B !important;
    border-width: 1px;
}

/* navbar ハンバーガー三本線 */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(251, 251, 246, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    /* background-color: #d8c985; */
}



/* .navbar-nav */
/* navbar ハンバーガーボタン,タップとホバーした時の背景色 */
/* .navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
background-color: #00BCD4;
} */
/* navbar ハンバーガーボタン,タップとホバーした時の四角枠 */
/* .navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
border-color: #FDD835;
} */
/* navbar ハンバーガーボタン,タップとホバーした時の三本線 */
/* .navbar-default .navbar-toggle:focus > .icon-bar,
.navbar-default .navbar-toggle:hover > .icon-bar {
background-color: #FDD835;
} */

