@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter:400,500,700|Noto+Sans+JP:400,700&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@100;200;300;400;500;600;700&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

/* --- Theme color --- */
:root {
    --md-primary-fg-color: #23651C;
    --md-accent-fg-color: #FBC914;
}

body{
    font-family: "Raleway", "Zen Kaku Gothic New", "Inter", "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: 400;
}

p{
    font-size: medium;
    margin-top: 0em !important;
}


/* --- bold fonts --- */
.bold_ja{
    font-family: "Zen Kaku Gothic New", "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: 700;
}

.bold_en{
    font-family: "Raleway", "Zen Kaku Gothic New", "Inter", "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: 700;
}
/* --- bold fonts --- */
/* --- headline --- */
h1 {
    color: black !important;
    font-weight: 700 !important;
    position: relative;
    padding: 0.1em 0em;
    font-size: x-large !important;
}

h1:after {
    content: "";
    display: block;
    height: 5px;
    background: -webkit-linear-gradient(to right, #FBC914, transparent);
    background: linear-gradient(to right, #FBC914, transparent);
}

h2 {
    margin-bottom: 0.3em !important;
    font-weight: 700 !important;
    font-size: large !important;
    padding-bottom:5px;
    border-bottom: solid 1px #dddeee;
    position: relative;
}

h2:after {
    position: absolute;
    content: " ";
    display: block;
    width: 62%;
    bottom: -1px;
    border-bottom: solid 1px #23651C;
}

h3 {
    /* margin-bottom: 0.1em !important; */
    margin-top: 0.3em !important;
    margin-bottom: 0em !important;
    font-weight: 700 !important;
    font-size: medium !important;
    /* padding-bottom: 5px; */
}
/* --- headline --- */

/* --- link --- */
md-tabs__list {
    margin: 0px !important;
}
a.md-tabs__link {
    font-weight: 700 !important;
}

/* --- lists --- */
ul,ol {
    font-size: medium !important;
    margin-top: 0em !important;;
}


ul li {
    margin-bottom: 0em !important;
}

ol li {
    margin-top: 0em !important; 
    margin-bottom: 0.8em !important;
}

/* ２段目 */
ul > li > ul {
    list-style-type: circle !important;
}

/* 3段目 */
ul > li > ul > li > ul {
    list-style-type: square !important;
}
/* --- lists --- */

/* --- ボタンのカスタマイズ --- */
.md-button {
    font-size: x-small;
    padding: 0.05em 0.2em !important;
    border-width: 1px !important;
    /* position: relative; */
    vertical-align: top;
}

/* --- Webタイトル --- */
.md-ellipsis {
    font-weight: 700;
}

/* --- tabsカスタマイズ --- */
.md-tabs__link:hover {
    color: #FBC914;
}
.md-tabs__link--active {
    color: #FBC914;
    font-weight: 700;
}
.md-tabs__link--focus {
    color: #FBC914;
}

.invited {
    color: #E16B8C;
    border: solid 1px;
    font-size: x-small !important;
    padding: 0.1em 0.2em !important;
    border-width: 1px !important;
    border-radius: 2px;
    vertical-align: middle;
}

.award {
    color: #FFB11B;
    border: solid 1px;
    font-size: x-small;
    padding: 0.1em 0.2em !important;
    border-width: 1px !important;
    border-radius: 2px;
    vertical-align: middle;
}

.others {
    color: #005CAF;
    border: solid 1px;
    font-size: x-small;
    padding: 0.1em 0.2em !important;
    border-width: 1px !important;
    border-radius: 2px;
    vertical-align: middle;
}


.md-footer {
    background-color: #23651C;
}

.icons {
    font-size: 80%;
    vertical-align: -0.1em !important;
}

.grid.cards {
    /* background: #23651c16; */
    border: solid 1px #23651C;/*線*/
    border-radius: 3px;/*角の丸み*/
}

