/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Noto+Sans+JP:400,700&display=swap&subset=japanese'); */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,500i,700,700i|Noto+Sans+JP:400,700&display=swap&subset=japanese');

/* body{
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.bold_ja{
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 700;
}
.bold_en{
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: 500;
} */

/* 追記 */
.navbar-brand {
    font-weight: 700;
}

.navbar-brand:hover,
.navbar-brand:focus{
    color: #FDD835;
}

.bg-primary {
    background-color: #00BCD4 !important;
    background-image: none !important;
}
.nav-link:hover,
.nav-link:focus {
    color: #FDD835;
    background-color: transparent;
}


/*  */
/*  */
/*  */
/*  */

body{
    font-family: "Montserrat", "Noto Sans JP", sans-serif;
}

.bold_ja{
  font-family: "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 700;
}
.bold_en{
    font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: 700;
}

/* navbar テキストカラー */
.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: bold;
}

/* navbar 全体の背景色とボーダーカラー */
/* .navbar-default {
    background-color: #00BCD4;
} */

/* navbar hover,focus時のテキストカラー */
/* .navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FDD835;
    background-color: transparent;
} */

.navbar-nav :hover{
    background: #4DD0E1;
}


/* navbar brandの色 */
.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #FDD835;
    font-weight: bold;
    background-color: transparent;
}

/* navbar active設定時のカラー */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #FDD835;
    background-color: #4DD0E1;
    font-weight: bold;
}

.navbar-default .navbar-brand a:hover {
    color: #FDD835;
    font-weight: bold;
}

.navbar-nav {
    font-weight: bold;
}

.bs-sidenav {
    font-size: larger;
}


body {
    color: #363838;
}

/* ----- リンク ----- */
a {
    color: #00BCD4;
}
a:hover {
    color: #FDD835;
}
a:active {
    color: #FDD835;
}


footer {
    text-align: center;
}

h1 {
    font-weight: 900;
  }


/* navbar ハンバーガー四角枠 */
.navbar-default .navbar-toggle {
border-color: white;
}
/* navbar ハンバーガー三本線 */
.navbar-default .navbar-toggle .icon-bar {
background-color: white;
}
/* navbar ハンバーガーボタン,タップとホバーした時の背景色 */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
background-color: #00BCD4;
}
/* navbar ハンバーガーボタン,タップとホバーした時の四角枠 */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
border-color: #FDD835;
}
/* navbar ハンバーガーボタン,タップとホバーした時の三本線 */
.navbar-default .navbar-toggle:focus > .icon-bar,
.navbar-default .navbar-toggle:hover > .icon-bar {
background-color: #FDD835;
}

